<section class="flex flex-col gap-4">
  <app-date-selector
    [showNavigation]="true"
    [selectedDate]="selectedDate()"
    (dateChange)="onDateSelected($event)"
  />

  @if (loadingResources()) {
  <div class="grid grid-cols-3 gap-2 mb-5">
    @for (_ of [1, 2, 3]; track $index) {
    <app-skeleton height="60px" />
    }
  </div>
  } @else {
  <app-stats-card [stats]="stats()" />
  }

  <article class="flex flex-col gap-4">
    @if (loadingResources()) { @for (_ of [1, 2]; track $index) {
    <app-skeleton height="140px" />
    } } @else { @for (resource of resources(); track resource.id) {
    <app-resource-appointments
      [resource]="resource"
      [appointments]="appointmentsByResourceMap().get(resource.id)"
      [loading]="loadingAppointments()"
      (completed)="markCompleted($event)"
      (canceled)="cancelAppointment($event)"
    />
    } }
  </article>
</section>
