<form
  class="flex flex-col gap-5"
  [formGroup]="form"
  (ngSubmit)="updateBusiness()"
>
  <app-input
    label="Nombre del negocio"
    placeholder="Ej: FiloSlot Barber"
    [control]="form.controls.name"
    [errors]="{ minlength: 'Mínimo 3 caracteres' }"
  />

  <app-input
    label="Dirección"
    placeholder="Ej: Calle 123, Centro"
    [control]="form.controls.address"
  />

  <app-input
    label="Teléfono de contacto"
    placeholder="Ej: +57 300 000 0000"
    type="tel"
    [control]="form.controls.phone"
    [errors]="{ required: 'El teléfono es requerido', pattern: 'Ingresa un número de teléfono válido' }"
  />

  <app-button
    type="submit"
    severity="primary"
    label="Guardar información"
    [loading]="isLoading()"
  />
</form>
