<form class="flex flex-col gap-5" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-input
    label="Nombre del negocio"
    placeholder="Ej: FiloSlot Barber"
    [control]="form.controls.name"
    [errors]="{ minlength: 'Mínimo 3 caracteres' }"
  />

  <app-input
    label="Dirección"
    placeholder="Ej: Calle 123, Centro"
    [control]="form.controls.address"
  />

  <app-input
    label="Teléfono de contacto"
    placeholder="Ej: +57 300 000 0000"
    type="tel"
    [control]="form.controls.phone"
    [errors]="{ required: 'El teléfono es requerido', pattern: 'Ingresa un número de teléfono válido' }"
  />

  <button
    type="submit"
    class="w-full py-3.5 mt-1 rounded-sm font-bold text-sm text-white bg-indigo-500 hover:bg-indigo-400 active:scale-[0.99] transition-all duration-150"
  >
    Guardar información
  </button>
</form>
