<button
  (click)="onSelect()"
  class="w-full text-left bg-slate-900/60 backdrop-blur-xl border border-white/7 rounded-2xl overflow-hidden hover:border-indigo-500/35 active:scale-[0.99] transition-all duration-150"
>
  <div class="flex items-center gap-3 p-4">
    <div
      class="w-14 h-14 rounded-xl grid place-items-center shrink-0 bg-linear-to-br from-indigo-500/30 to-violet-500/30 border border-indigo-500/20"
    >
      <span class="text-lg font-extrabold text-indigo-300">
        {{ business().name | initials }}
      </span>
    </div>

    <div class="flex-1 min-w-0">
      <h2 class="text-sm font-extrabold truncate mb-0.5">
        {{ business().name }}
      </h2>

      <div class="flex items-center gap-1 mb-1">
        <i class="pi pi-map-marker text-[0.6rem] text-white/35"></i>
        <p class="text-[0.68rem] text-white/45 truncate">
          {{ business().address }}
        </p>
      </div>
    </div>

    <i class="pi pi-chevron-right text-xs text-white/20 shrink-0"></i>
  </div>

  <div class="px-4 pb-3 border-t border-white/5 pt-2.5">
    <div class="flex flex-wrap gap-1.5">
      @for (service of business().services; track service) {
      <span
        class="text-[0.6rem] font-bold px-2 py-1 rounded-full bg-indigo-500/10 border border-indigo-500/20 text-indigo-300"
      >
        {{ service }}
      </span>
      }
    </div>
  </div>
</button>
