<article class="flex flex-col gap-6 pt-2" [formGroup]="form">
  <section
    class="bg-white/5 p-4 rounded-2xl border border-white/5 flex flex-col gap-2"
  >
    <span class="text-xs text-slate-400 uppercase font-bold"
      >Resumen de Cita</span
    >

    <p class="text-sm text-white">
      {{ config.data.resourceName }} - {{ config.data.date | date:'dd MMM' }} a
      las {{ config.data.slotTime }}
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <input
        pInputText
        formControlName="userName"
        placeholder="Tu nombre"
        class="bg-surface! border-white/10! p-3! rounded-xl!"
        [class.border-red-500!]="form.controls.userName.invalid && form.controls.userName.touched"
      />
      @if (form.controls.userName.touched) { @if
      (form.controls.userName.hasError('required')) {
      <span class="text-xs text-red-400">El nombre es obligatorio.</span>
      } @else if (form.controls.userName.hasError('minlength')) {
      <span class="text-xs text-red-400"
        >El nombre debe tener al menos 3 caracteres.</span
      >
      }}
    </div>

    <div class="flex flex-col gap-1">
      <input
        pInputText
        formControlName="phone"
        placeholder="WhatsApp"
        class="bg-surface! border-white/10! p-3! rounded-xl!"
        [class.border-red-500!]="form.controls.phone.invalid && form.controls.phone.touched"
      />
      @if (form.controls.phone.touched) { @if
      (form.controls.phone.hasError('required')) {
      <span class="text-xs text-red-400"
        >El número de WhatsApp es obligatorio.</span
      >
      } @else if (form.controls.phone.hasError('pattern')) {
      <span class="text-xs text-red-400"
        >Ingresá un número válido (ej: +54 9 11 1234-5678).</span
      >
      } }
    </div>
  </section>

  <button
    (click)="confirm()"
    [disabled]="form.invalid"
    class="w-full bg-primary! text-white font-bold py-4 rounded-2xl shadow-lg shadow-primary/20 disabled:opacity-50 disabled:cursor-not-allowed"
  >
    Confirmar Turno
  </button>
</article>
