@if (loading()) {
<article class="flex-1 flex flex-col gap-4 bg-primary/10 rounded-xl">
  <header
    class="p-4 flex items-center gap-x-4 border-b-[0.5px] border-primary/25 pb-4"
  >
    <app-skeleton width="80px" height="80px" shape="rectangle" />
    <div class="flex-1">
      <app-skeleton width="150px" height="20px" class="mb-2" />
      <app-skeleton width="200px" height="16px" />
    </div>
  </header>

  <section class="p-4 flex flex-col gap-2">
    @for (i of [1, 2, 3]; track i) {
    <app-skeleton width="100%" height="50px" />
    }
  </section>
</article>
} @else { @let b = business(); @if (b) {
<article class="flex-1 flex flex-col gap-4 bg-primary/10 rounded-xl">
  <header
    class="p-4 flex items-center gap-x-4 border-b-[0.5px] border-primary/25 pb-4"
  >
    <div
      class="w-20 h-20 rounded-lg bg-indigo-500 grid place-items-center font-extrabold text-sm text-white shrink-0"
    >
      {{ b.name | initials }}
    </div>

    <p class="text-xl font-semibold">{{ b.name }}</p>
  </header>

  <section class="p-4 flex flex-col gap-2">
    <article class="flex items-center gap-x-2">
      <div
        class="w-8 h-8 flex justify-center items-center bg-primary/25 text-primary-200 rounded-full"
      >
        <i class="pi pi-map-marker"></i>
      </div>

      <div>
        <span class="text-[10px]">DIRECCIÓN</span>
        <p class="text-sm">{{ b.address }}</p>
      </div>
    </article>

    <article class="flex items-center gap-x-2">
      <div
        class="w-8 h-8 flex justify-center items-center bg-primary/25 text-primary-200 rounded-full"
      >
        <i class="pi pi-mobile"></i>
      </div>

      <div>
        <span class="text-[10px]">TELÉFONO</span>
        <p class="text-sm">{{ b.phone }}</p>
      </div>
    </article>

    <article class="flex items-center gap-x-2">
      <div
        class="w-8 h-8 flex justify-center items-center bg-primary/25 text-primary-200 rounded-full"
      >
        <i class="pi pi-link"></i>
      </div>

      <div>
        <span class="text-[10px]">URL PÚBLICA</span>
        <p class="text-xs text-primary">{{ bookingUrl() }}</p>
      </div>
    </article>
  </section>
</article>
} }
